<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главное меню{% endblock %}</title>
</head>

<body>
    <header>
        <h1>{% block pagename %}Главное меню{% endblock %}</h1>
    </header>

    <nav>
        {% block menu %}
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'page1' %}">Магазин</a></li>
        <li><a href="{% url 'page2' %}">Заказы</a></li>
        {% endblock %}
    </nav>


    <div>
        {% block content %}
        <!-- Здесь может быть размещен контент -->
        {% endblock %}
    </div>
</body>

</html>