{% extends "first_task/menu.html" %}

{% block title %} {{title}} {% endblock %}

{% block pagename %} <h1>{{title}}</h1> {% endblock %}

{% block menu %} {{block.super}} {% endblock %}

{% block content %}

<ul>
    {% for game in games %}
    <li>
        {{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }}
        <button>Купить</button>
        <button>Подробнее</button>
    </li>
    {% endfor %}
</ul>
<button onclick="window.location.href='{{ index }}'">На главную</button>

{% endblock %}